Aula 2

Prática (input)

In [429]:
valor1 = input('digite um número inteiro: ')
valor2 = input('digite outro número inteiro: ')

In [430]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

True
False
False
True
True

Listas

In [431]:
L = []

In [432]:
L = list()

Lista com 3 elementos

In [433]:
dias = [3,1,10]

In [434]:
dias[1]

1

In [435]:
dias[2]

10

Modificando listas

In [436]:
Z = [3,8,9]

In [437]:
Z[0] = 7

In [438]:
Z

[7, 8, 9]

3

Clonando listas

In [439]:
a = [81,82,83]

In [440]:
b = a[:]       # cria um clone com fatia

In [441]:
print(a == b)

True

In [442]:
print(a is b)

False

In [443]:
b[0] = 5

In [444]:
print(a)

[81, 82, 83]

In [445]:
print(b)

[5, 82, 83]

Fatiamento de Listas

In [446]:
uma_lista = ['a', 'b', 'c','d','e','f']

In [447]:
print(uma_lista[1:3])

['b', 'c']

In [448]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [449]:
print(uma_lista[3:])

['d', 'e', 'f']

In [450]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [451]:
minhaLista = [76,2.3,"oi",True,4,76]

In [452]:
minhaLista[5] = "pitomba"

In [453]:
minhaLista[3] = "Cibele"

In [454]:
minhaLista[0] = "99"

In [455]:
print(minhaLista[:])

['99', 2.3, 'oi', 'Cibele', 4, 'pitomba']

In [459]:
minhaLista[2]

'oi'

Juntando listas(concatenar)

In [461]:
uma_lista = [4,2,8,6,5]

In [462]:
uma_lista = uma_lista + ["Cibele"]

In [463]:
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

Tuplas

In [464]:
tupla_numeros = (10,20,30)

In [465]:
tupla_numeros

(10, 20, 30)

In [470]:
tupla_elemento = 10,

In [471]:
tupla_elemento

(10,)

In [473]:
tupla_vazia = ()

In [476]:
tupla_vazia

()

Dicionário

In [477]:
dicio = {'chave': 'valor'}

In [478]:
print(type(dicio))

<class 'dict'>

In [479]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas':12}

In [480]:
d['bananas']

35

In [481]:
d['pitomba'] = 20

In [482]:
len(d)

4

In [483]:
'pitomba' in d

True

In [484]:
'pears' in d

False

In [485]:
del d['laranjas']

In [486]:
'laranjas' in d

False

In [487]:
frutas = ["pinha", "oito coró", "jaca", "tamarindo"]

In [488]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [489]:
print(frutas + [6,7,8,9])

['pinha', 'oito coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [490]:
print([0] * 4)

[0, 0, 0, 0]

In [491]:
print([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]